<div id="about">
<h2>Welcome to my site!</h2>
<p>
  I'm Kevin Mok - a 2<sup>nd</sup> year Computer Science
  student at the University of Toronto, and I'm greatly interested in all things Linux and 
  <a href="https://www.gnu.org/philosophy/floss-and-foss.en.html"
    target="_blank">FOSS/FLOSS</a>.
</p>

{{ partial "home/me-equation.html" . }}
</div>
