<div class="me-equation">
  <div class="equation-part">
    <a href="https://www.gnu.org/" target="_blank">
      <img src="{{ "img/gnu.svg" | relURL }}" id="gnu" alt="gnu-logo">
    </a>
    <p>+</p>
  </div>
  <div class="equation-part">
    <a href="https://www.wikiwand.com/en/Arch_Linux" target="_blank">
      <img src="{{ "img/arch.svg" | relURL }}" alt="linux-logo">
      <!-- <img src="{{ "img/larbs.png" | relURL }}" alt="linux-logo"> -->
    </a>
  <p>+</p>
  </div>
  <div class="equation-part" id="uoft-part">
    <a href="https://www.utoronto.ca/" target="_blank">
      <img src="{{ "img/uoft-logo.svg" | relURL }}" alt="uoft-logo">
    </a>
  <p>=</p>
  </div>
  <div class="equation-part">
  <img src="{{ "img/hexatar.png" | relURL }}" id="hexatar" alt="my-avatar">
  </div>
</div>
