</div>

<footer>
  <div class="container">
    <!-- <span class="copyright">&copy; {{ .Site.LastChange.Year }} {{ .Site.Title }} - <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></span> -->
    <span class="copyright">
      &copy; {{ now.Year }} {{ .Site.Title }} · <a rel="license"
        href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> · 
      <a href="{{ "credits" | relURL }}">Credits</a>
    </span>
  </div>

</footer>


</body>
</html>
