<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
<meta charset="utf-8">
<meta name="description" content="{{ if eq .Description "" }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
{{- with $.Param "keywords" }}
<meta name="keywords" content="{{ delimit . "," }}">
{{- end }}
{{- with $.Param "author" }}
<meta name="author" content="{{ . }}">
{{- end }}
{{ .Hugo.Generator }}
<meta name="google-site-verification" content="3aZhrY5bFgQY0HY2DNNUhbkuIfVEcwkrQHnbJd8jCCQ" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://livejs.com/live.js" charset="utf-8"></script>
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" type="text/css"> -->
<link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
<!-- <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css" type="text/css" media="all" /> -->
<!-- <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" type="text/css"> -->
{{ $main_sass := resources.Get "sass/main.scss" }}
{{ $main_style := $main_sass | resources.ToCSS }}
<link rel="stylesheet" href="{{ $main_style.RelPermalink }}" type="text/css">
<title>
  {{ $isHomePage := eq .Title .Site.Title }}
  {{ .Title }}
  {{ if eq $isHomePage false }} -
  {{ .Site.Title }}
  {{ end }}
</title>

<!-- <link rel="shortcut icon" type="image/png" href="imgs/icons/gitlab.png" id="favicon"/> -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "img/favicon/apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "img/favicon/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "img/favicon/favicon-16x16.png" | relURL }}">
<link rel="manifest" href="{{ "img/favicon/site.webmanifest" | relURL }}">
<link rel="mask-icon" href="{{ "img/favicon/safari-pinned-tab.svg" | relURL }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">

<!-- <title>
  {{ .Site.Title }} &nbsp;• &nbsp;~{{ .Page.RelPermalink }}
</title> -->
</head>
<body>

<!-- <header>
  <div class="container clearfix">
    [><a class="path" href="{{ .Site.BaseURL }}">[{{ .Site.Title }}]</a><]
    <a class="path" href="{{ .Site.BaseURL }}">[~]</a>
    <span class="caret"># _</span>
    <div class="right">
      {{ range $i, $page := (where .Site.Pages "Section" "pages") }}
        {{ if not (eq $i 0) }}|{{ end }}
        <a class="path" href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
      {{ end }}
    </div>
  </div>
</header> -->

<div class="container">
